<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
  <script defer src="{{ '/assets/script.js' | relative_url }}"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <style>
    div {
          text-align: justify;
          text-justify: inter-word;
    }
  </style>
</head>
<body>
  <header>
    <nav>
      <div class="nav-container">
        <div class="brand">
          <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
        </div>
        <ul class="nav-links">
          <li><a href="{{ '/' | relative_url }}">Home</a></li>
          <li><a href="{{ '/about/' | relative_url }}">About Me</a></li>
          <li><a href="{{ '/education/' | relative_url }}">Education</a></li>
          <li><a href="{{ '/experiences/' | relative_url }}">Professional Experiences</a></li>
          <li><a href="{{ '/certifications/' | relative_url }}">Certifications</a></li>
          <li><a href="{{ '/projects/' | relative_url }}">Projects</a></li>
        </ul>
        <div class="nav-right">
          <button class="hamburger" aria-label="Toggle navigation">
            &#9776;
          </button>
          <button class="toggle" aria-label="Toggle dark mode">
            <span class="material-icons sun-icon">wb_sunny</span>
            <span class="material-icons moon-icon">nightlight</span>
          </button>
        </div> 
      </div>
    </nav>
  </header>
  <div class="container">
    <aside>
      <img src="/assets/profile_picture.jpeg" alt="Your Profile Picture">
      <p style="font-size:18pt;"><strong>Federico Vazzoler</strong></p>
      <p style="text-align: justify; text-justify: inter-word;"><i>Federico is an experimental physicist transitioning into data science, with strong expertise in data modeling and analysis.</p>
      <p style="text-align: justify; text-justify: inter-word;">A passionate ML and AI enthusiast, he believes in the untapped potential of data to reveal the future.</i></p>
      <p style="text-align: left;"><strong>Contacts:</strong></p> 
        <p style="text-align: left;">
          <a href="mailto:vazzoler.federico@gmail.com">
            <i class="fas fa-envelope"></i> Email
          </a>
        </p>
        <p style="text-align: left;">
          <a href="https://www.linkedin.com/in/federicovazzoler" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin"></i> LinkedIn
          </a>
        </p>
        <p style="text-align: left;">
          <a href="https://github.com/federicovazzoler" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github"></i> GitHub
          </a>
        </p>
    </aside>
    <main>
      {{ content }}
    </main>
  </div>
  <footer>
    &copy; {{ site.time | date: "%Y" }} Federico Vazzoler. All rights reserved.
  </footer>
</body>
</html>